{% load static %}
<link rel="stylesheet" href="{% static 'css/settings-theme.css' %}?v=20260517s">
<script src="{% static 'js/settings-apply.js' %}?v=20260517s"></script>
{% include "partials/ar_palm_nav_menu.html" %}
<script src="{% static 'js/controls.js' %}?v=20260517c"></script>
<script src="{% static 'js/gesture.js' %}?v=20260517u"></script>
{% include "partials/hud_audio_scripts.html" %}
<script src="{% static 'js/stereo-overlay-sync.js' %}?v=20260517d"></script>
<script src="{% static 'js/portal-palm-menu.js' %}?v=20260517d"></script>
